@charset "utf-8";

body{width:640px;}

#wrap{position:absolute; top:0px; left:0px; width:640px;}

header{position:relative; z-index:100; height:75px; background:#ffffff;}
header h1{text-align:center;}
header > a{display:inline-block; overflow:hidden; position:absolute; top:14px; width:59px; height:49px; text-indent:-9999px;}
header > a.btn_menu{left:15px; background:url('../images/common/btn_open.jpg');}
header > a.btn_tel{width:49px; right:15px; background:url('../images/common/btn_call.jpg');}




#gnb{position:absolute; top:0px; left:-300px; bottom:0px; z-index:1000; width:300px; background:#333333;}
#gnb .btn_close{display:none; position:absolute; top:24px; left:314px; width:28px; height:27px; background:url('../images/common/btn_close.png');}
#gnb.open .btn_close{display:block}
#gnb .top_menu{overflow:hidden;}
#gnb .top_menu img{float:left;}
#gnb > ul{overflow:hidden; width:300px; background:#333333;}
#gnb > ul > li > a{display:block; position:relative; padding-left:40px; border-bottom:1px solid #333333; font-size:25px; color:#ffffff; line-height:79px; font-weight:bold; background:#525252;}
#gnb > ul > li > a:before{position:absolute; top:32px; left:21px; width:7px; height:10px; background:url('../images/common/ico_menu.png') no-repeat; background-position:0px -9px; content:'';}
#gnb > ul > li > a:after{position:absolute; top:23px; right:16px; width:28px; height:28px; background:url('../images/common/ico_menu.png') no-repeat; background-position:-236px 0px; content:'';}
#gnb > ul > li.active > a{border-color:#a1a1a1;}
#gnb > ul > li.active > a{color:#ba8551; background:#ffffff;}
#gnb > ul > li.active > a:before{background-position:0px -83px;}
#gnb > ul > li.active > a:after{background-position:-236px -74px;}
#gnb .sub{display:none; width:280px; padding:10px; background:#d1d1d1;}
#gnb .sub ul{border:1px solid #a1a1a1;}
#gnb .sub ul li{height:42px; margin-top:-1px; border-top:1px solid #a1a1a1; background:url('../images/common/menu_bg01.jpg') repeat-x;}
#gnb .sub a{display:block; padding-left:35px; font-size:19px; color:#333333; line-height:42px; font-weight:bold;}
#gnb > ul > li.a_top{position:relative;}
#gnb > ul > li.a_top .sub{top:0px;}
#gnb > ul > li.a_bottom{}
#gnb > ul > li.a_bottom .sub{bottom:0px;}

.hide_bg{display:none; position:fixed; top:0px; left:0px; right:0px; bottom:0px; z-index:100; height:100000px; background:#000000; opacity:.5;}



#bottom_menu{display:block; padding:22px 0px 10px; text-align:center;}
#bottom_menu ul{display:inline-block; overflow:hidden;}
#bottom_menu ul li{float:left; margin:0px 2px 0px 3px;}

#bottom_qlink{}
#bottom_qlink ul{overflow:hidden;}
#bottom_qlink ul li{float:left;}
#bottom_qlink ul li img{display:block;}

footer{background:#f7f7f7;}
.footer_cont{text-align:center;}
.footer_cont address{display:inline-block; padding:10px 0px 30px; font-style:normal; font-size:16px; color:#666666; line-height:25px; text-align:left;}




#lnb{position:relative; height:58px;}
#lnb h2,#lnb h3{float:left; position:relative; height:58px; width:50%; border-top:1px solid #3a3633; border-bottom:2px solid #000000; font-size:26px; color:#ffffff; line-height:55px; font-weight:bold; text-align:center; cursor:pointer;}
#lnb h2:after,#lnb h3:after{position:absolute; top:24px; right:20px; width:18px; height:10px; background:url('../images/common/ico_lnb.png') no-repeat; content:'';}
#lnb h2.open:after,#lnb h3.open:after{background-position:0px -19px;}
#lnb h2{border-right:1px solid #3a3633; background:#a7977d;}
#lnb h3{background:#bcb19f;}
#lnb h2.open{background:#ba8551;}
#lnb h3.open{background:#c4a07d;}
#lnb > div{overflow:hidden; position:absolute; top:58px; left:0px; width:320px;}
#lnb .gnb_list{position:absolute; top:0px; left:0px; width:320px; border-right:1px solid #000000;}
#lnb .gnb_list li{border-bottom:1px solid #888785;}
#lnb .gnb_list a{display:block; position:relative; padding-left:32px; font-size:22px; color:#ffffff; line-height:44px; background:#6f6e6c;}
#lnb .gnb_list a:after{position:absolute; top:16px; right:23px; width:7px; height:11px; background:url('../images/common/ico_lnb.png') no-repeat -7px -49px; content:'';}
#lnb .gnb_list .sub{display:none;}
#lnb .gnb_list li.active .sub{display:block; position:absolute; top:0px; left:320px; width:320px;}
#lnb .gnb_list li.active > a{background:#42413e;}


/* common */
.hidden{display:none;}
.a_left{float:left;}
.a_right{float:right;}
.sound_only, .hidden_title{overflow:hidden; position:absolute; top:-500px; left:0px; font-size:0px;}
.after:after{display:block;clear:both;content:''}
.size_border_box{box-sizing: border-box; webkit-box-sizing: border-box; moz-box-sizing: border-box;}
img{margin:0; padding:0; border:0;}
.img_block_wrap img{display:block;}
.img_block, .block{display:block;}



